{% extends 'base.html' %}
{% block content %}
<div id="container my-3">
    <h2>설문 목록 페이지</h2>
    <table class="table">
        <thead>
            <tr class="text-center thead-dark">
                <th style="width:55%">질문</th>
            </tr>
        </thead>
        <tbody>
            {% for question in question_list %}
            <tr>
                <td class="text-center">
                    <a href="{% url 'poll:poll_detail' question.id %}">{{ question.question_text }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}

